/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.container {
  background-color: #8a5b35;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(14, 12, 12);
  
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(185, 169, 97);
  text-align: center;
  color: rgb(20, 20, 20);
  font-size: xx-large;
}

.footer {
  
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  /* background-color: rgb(185, 169, 97); */
  text-align: center;
  color: black;
}

